# Environment Variables
.env

# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Chroma Database
deepfake_db/

# HuggingFace Models
models/

# VS Code
.vscode/

# JetBrains
.idea/

# Windows
Thumbs.db